<div>Input your email address and we will send you a confirmation link.</div>

<%= form_with url: admin_allergens_path, method: :post do |form| %>
  <table>
    <tr>
      <td><%= form.label :title, "Title" %></td>
      <td><%= form.text_field :title %></td>
    </tr>
  </table>
  <%= form.submit "Careful with this stuff." %>
<% end %>
