<div>
  <% if @current_admin -%>
    Admin logged in. Hello, <%= @current_admin.email %>
  <% end -%>
  <% if @current_recipient -%>
     Hi, <%= @current_recipient.email %>
  <% end -%>
</div>

<p>Content will one day be here</p>
