<div>
  Administrative tools will be here one day.
</div>
<div>
  <%= link_to "Recipients", admin_recipient_index_path %>
  <%= link_to "Shipments", admin_shipment_index_path %>
  <%= link_to "Log Out", logout_path %>
</div>

