<div>
  Administrative tools will be here one day.
</div>


<div data-controller="dashboard">
  <div><%= label_tag :image, "Upload" %></div>
  <div><%= file_field_tag :image, id: '#upload-input' %></div>
  <button
    data-action="click->dashboard#record"
  >
    Record Webm
  </button>
</div>
