@import url("/assets/card_container-bdccfebe43b5d59e961125f3bef1b0ba73af81ea.css");
@import url("/assets/navbar-6e652e7b8f869c2d6daa466bd1cf974a569847eb.css");
@import url("/assets/shipment_card-da9935e199e03f1ede875ffd1c5f4c5474a1b239.css");
@import url("/assets/tables-6c8ac5abcb59cf74a2a0d0e09a71448d63b93932.css");
@import url("/assets/text_styles-197fd57338bbfa8ddb85a1c60fbb37584a772f7d.css");

body {
  background-image: url("/assets/bgturqstone-f4efac6aa33b9a3100f76d895ff674002716bd7f.gif");
  color: white;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}
