shipment_card {
  background-color: white;
  color: black;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: min-content;
  height: min-content;
  margin: 1%;
  padding-left: 1%;
  padding-top: 1%;
  padding-right: 1%;
}

shipment_card_title {
  padding: 12px;
  line-break: loose;
}

