<div display=flex flex-direction=row>
  <%= link_to "Shipments", admin_shipment_index_path %>
  <%= link_to "Mailing List Recipients", admin_recipient_index_path %>
  <%= link_to "Edit Credentials", edit_admin_credentials_path %>
  <%= link_to "Logout", logout_path %>
</div>
