<card_container>
  <% @shipments.each do |s| %>
      <div class='shipment-card'>
        <div class='shipment-card-header'>
          <div class='title-padding'>
            <%= s.title %><%= s.fulfillment_date.present? ? " (#{s.fulfillment_date})" : '' %>
          </div>
        </div>
        <%= link_to shipment_path(s) do %>
          <div class='shipment-card-body'>
            <%= render 'shared/multimedia', shipment: s %>
          </div>
        <% end %>
      </div>
  <% end %>
</card_container>
