<center>
  <shipment_card>
    <%= image_tag url_for(@shipment.image)%>
    <shipment_card_title><%= @shipment.title %></shipment_card_title>
  </shipment_card>
</center>
<text_white>
  <div><%= @shipment.fulfillment_date %></div>
  <div><%= @shipment.description %></div>
</text_white>
