<center>
  <div class='shipment-card'>
    <div class='shipment-card-header'>
      <div class='title-padding'><%= @shipment.title %></div>
    </div>
    <div class='shipment-card-body'>
      <%= render 'shared/multimedia', shipment: @shipment %>
    </div>
  </div>
</center>
<div><%= @shipment.fulfillment_date %></div>
<div><%= @shipment.description %></div>
