<center>
  <shipment_card>
    <%= image_tag url_for(@shipment.image.present? ? @shipment.image : 'default.gif')%>
    <shipment_card_title><%= @shipment.title %></shipment_card_title>
  </shipment_card>
</center>
<div><%= @shipment.fulfillment_date %></div>
<div><%= @shipment.description %></div>
