@import url('allergens.css');
@import url('card_container.css');
@import url('homepage.css');
@import url('navbar.css');
@import url('shipment_card.css');
@import url('tables.css');
@import url('text_styles.css');

body {
  color: silver;
  background-image: url('bgturqstone.gif');
}

body_content {
  display: flex;
  flex-direction: column;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}

/*

    Button styles

*/
button{
  border-width: 2px;
  border-style: outset;
  border-color: buttonface;
  border-right-color: #424242;
  border-bottom-color: #424242;
  background: silver;
  color: black;
  padding: 2px 2px;
  margin: 2px;
  border-radius: 1px;
}
button:hover {
  border: 2px inset #fff;
  background: silver;
  color: #424242;
  box-shadow: -1px -1px #000;
}
button:focus {
  border: 2px inset #fff !important;
  background: silver;
  color: #424242;
  box-shadow: -1px -1px #000 !important;
  outline: 0 !important;
  background: url(background.bmp);
}
button:active {
  border: 2px inset #fff !important;
  color: #424242;
  box-shadow: -1px -1px #000 !important;
  outline: 0 !important;
  background: url(background.bmp);
}

button-primary{
  padding-left: 8px;
  padding-right: 8px;
}

button.disabled,button:disabled{
  cursor: default;
  background-color: silver;
  border-style: outset;
  border-color: buttonface;
  border-right-color: #424242;
  border-bottom-color: #424242;
  color: grey;
  text-shadow: 1px 1px #fff;
}
