@import url('card_container.css');
@import url('navbar.css');
@import url('shipment_card.css');
@import url('tables.css');
@import url('text_styles.css');

body {
  background-image: url('bgturqstone.gif');
  color: white;
}

a, a:link, a:visited, a:focus, a:hover, a:active {
  color: inherit;
  text-decoration: none;
}
